@import 'https://fonts.googleapis.com/css?family=Open+Sans';

:root {
	--bg-color: hsl(0, 0%, 3%);
	--text-color: #d7d7d7;
	--text-color-darker: #aaa;
	--accent-color: #3ba0e6;
	--success-color: #00e175;
	box-sizing: border-box;
}

body {
	background-color: var(--bg-color);
	color: var(--text-color);
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	/* padding: 20px; */
	margin: 0;
}

a {
	color: var(--link-color);
}

button,
a:hover,
a:focus {
	background-color: var(--accent-color);
	color: var(--text-color);
}
