:root {
  /* Background color */
  --bg-color: hsl(0, 0%, 12%);
  --bg-color-lighter: hsl(0, 0%, 15%);

  /* Text color */
  --text-color: #f1f1f1;
  --text-color-darker: #7a7a7a;

  /* Accent color */
  --accent-color: #ff9933;

  box-sizing: border-box;
}

/* Apply dark mode styles to all elements */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family:Arial, Helvetica, sans-serif;
  padding: 20px;
  margin: 0;
}

a {
  color: var(--link-color);
}

/* Apply accent color to selected elements */
button,
a:hover,
a:focus {
  background-color: var(--accent-color);
  color: var(--text-color);
}
